# Trata de base **Salarios**

In [10]:
import pandas as pd
sheet = 'M1'
df = pd.read_excel('Salarios_Hidalgo.xlsx', sheet_name=sheet)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Occupation         312 non-null    object
 1   Workforce          312 non-null    int64
 2   Monthly Wage       312 non-null    float64
 3   lastPeriod         312 non-null    float64
 4   Diferencia_1       312 non-null    float64
 5   Diferencia _2      312 non-null    float64
 6   Salario Variables  312 non-null    float64
 7   Volumen            312 non-null    float64
 8   Categoria          312 non-null    object
 9   Pareja             312 non-null    float64
 10  Categoria Pareja   312 non-null    object
dtypes: float64(7), int64(1), object(3)
memory usage: 26.9+ KB

In [11]:
df.head()

,Occupation,Workforce,Monthly Wage,lastPeriod,Diferencia_1,Diferencia _2,Salario Variables,Volumen,Categoria,Pareja,Categoria Pareja
0,"Guías de Turismo en Museos, Casinos, Parques, ...",911,3333.040615,3333.0,-0.040615,0.999988,3333.040615,3036400.0,G,5632.838639,F
1,Trabajadores en el Cultivo de Flores,1703,8279.330593,8279.0,-0.330593,0.999960,8279.330593,14099700.0,F2,13992.068702,E
2,"Ensambladores y Montadores de Herramientas, Ma...",68,6480.000000,6480.0,0.000000,1.000000,6480.000000,440640.0,F,10951.200000,F3
3,"Especialistas y Consultores en Mercadotecnia, ...",1797,6449.805231,6449.0,-0.805231,0.999875,6449.805231,11590300.0,F,10900.170840,F4
4,Técnicos en la Instalación y Reparación de Red...,2944,2786.083560,2786.0,-0.083560,0.999970,2786.083560,8202230.0,G,4708.481216,G

In [9]:
df.columns

Index(['Occupation', 'Workforce', 'Monthly Wage', 'lastPeriod', 'Diferencia ',
       'Diferencia .1', 'Salario Variables', 'Volumen', 'Categoria', 'Pareja',
       'Categoria Pareja'],
      dtype='object')

In [14]:
df['id'] = range(1, len(df) + 1)
df['Year'] = 2024

In [15]:
archivo = 'salarios_hidalgo_2024'
ext = '.csv'
archivo_export = archivo + ext
df.to_csv(archivo_export, encoding='utf-8', index=False)