# **Profesiones**

In [35]:
# Manejo de datos
import os # Directorios
import pandas as pd # Manipulación df
# Gráficas
import plotly.graph_objects as go #Para obtener librería usar: pip install plotly
from plotly.subplots import make_subplots
import plotly.io as pio # Exportar gráfica

# Obtener el directorio actual de trabajo
directorio_actual = os.getcwd()

# Directorio donde se encuentran los archivos JSON (ruta relativa)
directorio_json = os.path.join(directorio_actual, '../../db/datos_json')

# Obtener la lista de archivos JSON en el directorio
archivos_json = os.listdir(directorio_json)

# Cargar los archivos JSON y crear DataFrames
for archivo in archivos_json:
    nombre_tabla = archivo.replace('datos_', '').replace('.json', '')
    ruta_json = os.path.join(directorio_json, archivo)
    globals()[f"df_{nombre_tabla}"] = pd.read_json(ruta_json)

# Obtener todos los nombres de las variables globales
nombres_variables_globales = list(globals().keys())

# Filtrar los nombres que comienzan con "df_", contienen "alfa_q" y "pachuca"
nombres_df_filtrados = [
    nombre for nombre in nombres_variables_globales 
    if nombre.startswith("df_") and "salarios" in nombre and "tulancingo" in nombre
]

# Imprimir la lista de DataFrames filtrados
print("Lista de DataFrames filtrados:")
nombres_df_filtrados

Lista de DataFrames filtrados:

['df_salarios_tulancingo']

In [28]:
#Por si no se tiene el json, desde csv:
#df = pd.read_csv('C:\\xampp\\htdocs/datalpine/resources/db/Scrapining/salarios/bases/QUERETARO_24.csv')

#Por si no se tiene el json, desde csv:
import os
directorio_actual = os.getcwd()  # Cambiado de __file__ a getcwd()
df = pd.read_csv(os.path.join(directorio_actual, '../../db/Scrapining/salarios/clean/TULANCINGO_24.csv'))

In [34]:
df.columns

Index(['Occupation', 'Workforce', 'Monthly Wage', 'lastPeriod', 'diferencia',
       'diferencia_2', 'Salario_Variables', 'volumen', 'pareja',
       'categoria_persona', 'categoria_pareja'],
      dtype='object')

In [36]:
# Iterar sobre cada DataFrame en la lista filtrada
for nombre_df in nombres_df_filtrados:
    # Obtener el DataFrame usando globals()
    df = globals()[nombre_df]
    df.rename(columns={'Salario_Variables':'Salario_Variable'}, inplace=True)
        # Asignar el DataFrame modificado de nuevo a la variable global
    globals()[nombre_df] = df 
print("Columnas renombradas en los DataFrames filtrados.")

Columnas renombradas en los DataFrames filtrados.

In [37]:
# Crear una lista de DataFrames seleccionados con las columnas específicas
dataframes_list = []
for nombre_df in nombres_df_filtrados:
    # Seleccionar las columnas 'id' y 'categoria'
    segment_df = globals()[nombre_df][['Occupation','Salario_Variable']]
    # Añadir el DataFrame a la lista
    dataframes_list.append(segment_df)

In [38]:
salarios = df['Salario_Variable'].unique()
salarios.sort()
salarios

array([    0.  ,   301.  ,   347.2 ,   600.  ,  1102.18,  1148.76,
        1290.  ,  1306.99,  1335.89,  1387.23,  1390.9 ,  1575.78,
        1657.49,  1667.  ,  1720.  ,  1774.6 ,  2306.88,  2385.56,
        2515.73,  2580.  ,  2607.8 ,  2786.08,  2993.69,  3005.57,
        3052.49,  3061.2 ,  3084.59,  3134.81,  3333.04,  3347.7 ,
        3348.98,  3440.  ,  3461.89,  3579.05,  3604.67,  3686.57,
        3825.79,  3870.67,  3878.34,  3955.11,  3972.24,  3987.66,
        4044.39,  4126.34,  4201.5 ,  4244.06,  4244.77,  4247.19,
        4254.29,  4284.24,  4309.35,  4354.65,  4364.93,  4371.81,
        4422.94,  4481.94,  4548.25,  4581.26,  4633.97,  4671.97,
        4781.87,  4895.9 ,  4913.55,  4933.22,  4943.3 ,  4985.86,
        5000.  ,  5030.11,  5140.38,  5146.79,  5180.55,  5216.07,
        5232.11,  5249.09,  5276.61,  5286.68,  5302.33,  5389.87,
        5412.58,  5432.9 ,  5494.8 ,  5511.58,  5577.35,  5600.  ,
        5627.25,  5690.51,  5706.15,  5763.5 ,  5794.12,  5795.29,
        5810.07,  5831.67,  5854.96,  6000.  ,  6020.  ,  6073.59,
        6119.74,  6167.99,  6173.81,  6224.51,  6282.83,  6300.  ,
        6307.08,  6355.03,  6442.8 ,  6449.81,  6450.  ,  6466.54,
        6470.35,  6484.25,  6499.33,  6531.88,  6637.13,  6638.22,
        6670.92,  6764.63,  6800.  ,  6859.98,  6882.53,  6954.24,
        7000.  ,  7128.47,  7148.39,  7150.51,  7286.84,  7310.  ,
        7353.01,  7410.64,  7493.63,  7494.67,  7496.32,  7497.67,
        7529.67,  7535.54,  7592.35,  7593.33,  7668.45,  7671.44,
        7707.98,  7745.91,  7771.06,  7779.72,  7834.77,  8000.  ,
        8014.27,  8066.74,  8097.99,  8151.61,  8279.33,  8294.72,
        8343.55,  8356.59,  8391.27,  8405.9 ,  8406.5 ,  8540.71,
        8546.92,  8600.  ,  8615.92,  8623.24,  8703.84,  8806.08,
        8821.03,  8853.32,  8912.63,  8956.83,  9088.33,  9096.67,
        9163.71,  9169.96,  9215.19,  9233.77,  9241.94,  9417.53,
        9466.23,  9570.65,  9687.96,  9716.72,  9850.86,  9881.73,
        9901.02, 10000.  , 10096.97, 10253.56, 10271.45, 10280.38,
       10298.77, 10385.41, 10396.44, 10497.21, 10586.97, 10647.14,
       10750.  , 10810.34, 10872.28, 10955.95, 10974.43, 11057.59,
       11111.11, 11250.  , 11353.52, 11383.33, 11386.53, 11500.  ,
       11515.18, 11516.24, 11637.2 , 11643.87, 11747.73, 11749.92,
       12000.  , 12062.43, 12073.49, 12139.8 , 12179.36, 12396.67,
       12476.7 , 12900.  , 12956.27, 13000.  , 13030.15, 13128.49,
       13300.  , 13528.12, 13539.93, 13550.77, 13600.  , 13698.34,
       13935.48, 13985.16, 14000.  , 14007.67, 14028.33, 14190.  ,
       14820.  , 15000.  , 15050.  , 15102.56, 15130.73, 15190.44,
       15192.82, 15810.03, 16000.  , 16153.35, 16446.08, 16517.8 ,
       16685.08, 16852.17, 17000.  , 17140.18, 17314.29, 17625.36,
       17632.92, 18631.27, 19106.32, 19200.9 , 19207.96, 19346.15,
       19350.  , 19794.78, 20000.  , 20750.62, 21397.18, 21500.  ,
       21707.2 , 22500.  , 22953.61, 23406.85, 24000.  , 24120.  ,
       24392.76, 24790.62, 25000.  , 25674.15, 26600.  , 26992.05,
       28000.  , 28075.03, 30000.  , 30960.  , 30971.24, 32000.  ,
       36057.69, 70000.  ])

In [39]:
df_neutro = df[df['Salario_Variable']==0]
df_neutro['Occupation'].unique()

array(['Presidentes y Autoridades Municipales',
       'Directores de Organizaciones Civiles y Religiosas',
       'Coordinadores y Jefes de Área en Producción Agropecuaria, Silvícola y Pesquera',
       'Coordinadores y Jefes de Área en Museos, Cines, Deportivos y Servicios Culturales',
       'Biólogos y Especialistas en Ciencias del Mar y Oceanógrafos',
       'Agrónomos', 'Ingenieros Químicos',
       'Especialistas en Medicina Tradicional y Alternativa',
       'Auxiliares y Técnicos en Ciencias Biológicas, Químicas y del Medio Ambiente',
       'Mecánicos en Mantenimiento y Reparación de Instrumentos de Precisión y Musicales',
       'Otros Especialistas no Clasificados Anteriormente',
       'Azafatas y Sobrecargos',
       'Trabajadores Dedicados a la Prostitución',
       'Supervisores de Artesanos y Trabajadores en la Elaboración de Productos de Madera, Papel, Textiles y de Cuero y Piel',
       'Supervisores de Artesanos y Trabajadores en la Elaboración de Productos de Hule, Caucho, Plásticos y de Sustancias Químicas',
       'Operadores de Máquinas y Equipos para la Refinación del Petróleo y Gas',
       'Operadores de Máquinas para la Elaboración de Productos de Madera, Bejuco, Mimbre y Similares',
       'Trabajadores de Apoyo que Realizan Actividades Agrícolas y Ganaderas',
       'Trabajadores de Apoyo en la Extracción',
       'Lecturistas de Medidores'], dtype=object)

In [40]:
df_limpio = df[df['Salario_Variable']!=0]
profesiones_df_salarios_puebla_sorted = df_limpio.sort_values(by='Salario_Variable')
profesiones_df_salarios_puebla_sorted[['Occupation','Salario_Variable']]

                                            Occupation  Salario_Variable
237                              Zapateros Artesanales            301.00
173  Supervisores y Encargados de Trabajadores en C...            347.20
136       Otros Técnicos no Clasificados Anteriormente            600.00
234                          Bordadores y Deshiladores           1102.18
231                                Tejedores de Fibras           1148.76
..                                                 ...               ...
224   Joyeros, Orfebres, Plateros y Pulidores de Metal          30960.00
35   Coordinadores y Jefes de Área de Restaurantes ...          30971.24
8    Directores y Gerentes en Desarrollo Social y E...          32000.00
1    Presidentes y Directores Generales en Instituc...          36057.69
321  Trabajadores de Paquetería, Maleteros y Botone...          70000.00

[308 rows x 2 columns]

Sacar lista de 10 por categoría

In [41]:
# Ordenar el DataFrame por el valor del salario en orden ascendente
profesiones_df_salarios_puebla_sorted = df_limpio.sort_values(by='Salario_Variable')

# Obtener las 10 profesiones con el salario más bajo
profesiones_bajas = profesiones_df_salarios_puebla_sorted.head(10)

# Obtener las 10 profesiones con el salario más alto
profesiones_altas = profesiones_df_salarios_puebla_sorted.tail(10)

df_bajas = pd.DataFrame({'Profesiones Más Bajas': profesiones_bajas['Occupation']})
df_altas = pd.DataFrame({'Profesiones Más Altas': profesiones_altas['Occupation']})

# Unir los dos DataFrames en una sola tabla
tabla_comparativa = pd.concat([df_bajas.reset_index(drop=True), df_altas.reset_index(drop=True)], axis=1)
print(tabla_comparativa)

# Exportar tabla como archivo HTML
def guardar_tabla_como_html(tabla, nombre_archivo, carpeta='assets/tablas'):
    if not os.path.exists(carpeta):
        os.makedirs(carpeta)  # Crear la carpeta si no existe
    
    # Tabla como archivo HTML en la carpeta especificada
    tabla.to_html(f'{carpeta}/{nombre_archivo}.html', index=False)

# Exportar la tabla
guardar_tabla_como_html(tabla_comparativa, 'tabla_profesiones')

                               Profesiones Más Bajas  \
0                              Zapateros Artesanales
1  Supervisores y Encargados de Trabajadores en C...
2       Otros Técnicos no Clasificados Anteriormente
3                          Bordadores y Deshiladores
4                                Tejedores de Fibras
5  Operadores de Máquinas y Equipos para la Capta...
6        Recolectores de Leña y Acarreadores de Agua
7  Cuidadores de Niños, Personas con Discapacidad...
8       Trabajadores en la Cría de Caprinos y Ovinos
9  Trabajadores que Combinan Actividades Agrícola...

                               Profesiones Más Altas
0  Ingenieros en Topografía, Hidrología, Geología...
1  Mineros y Trabajadores en la Extracción en Min...
2                Supervisores de las Fuerzas Armadas
3             Trabajadores de la Fuerza Armada Aérea
4                                       Farmacólogos
5   Joyeros, Orfebres, Plateros y Pulidores de Metal
6  Coordinadores y Jefes de Área de Restaurantes ...
7  Directores y Gerentes en Desarrollo Social y E...
8  Presidentes y Directores Generales en Instituc...
9  Trabajadores de Paquetería, Maleteros y Botone...

## Sacar los estilos deseados

In [44]:
import os
import pandas as pd

def guardar_tabla_como_html(tabla, nombre_archivo, carpeta='assets/tablas'):
    if not os.path.exists(carpeta):
        os.makedirs(carpeta)

    # Crear un estilo personalizado de tabla
    estilo_html = """
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <style>
            /* Estilo general para las tablas */
            table {
                width: 100%; /* Ancho completo */
                border-collapse: collapse; /* Colapsar bordes */
                margin: 0; /* Margen superior e inferior */
                padding: 0; /* Eliminar padding */
            }
            
            /* Estilo para el contenedor de la tabla */
            .card-body {
                padding: 0; /* Eliminar padding del contenedor */
                margin: 0; /* Eliminar margen del contenedor */
            }

            /* Estilo para las celdas de encabezado */
            th {
                background-color: #f2f2f2; /* Color de fondo claro */
                color: #333; /* Color de texto */
                padding: 10px; /* Espaciado interno */
                text-align: left; /* Alinear texto a la izquierda */
                border: 1px solid #ddd; /* Borde de las celdas */
            }

            /* Estilo para las celdas del cuerpo */
            td {
                padding: 10px; /* Espaciado interno */
                border: 1px solid #ddd; /* Borde de las celdas */
            }

            /* Estilo para las filas alternas */
            tr:nth-child(even) {
                background-color: #f9f9f9; /* Color de fondo alternativo */
            }

            /* Estilo para las filas al pasar el mouse */
            tr:hover {
                background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
            }

            /* Estilo para el texto en las celdas */
            td, th {
                text-align: center; /* Centrar texto en celdas */
            }
        </style>
    </head>
    <body>
        <div class="card">
            <div class="card-body">
                <div style="overflow-x:auto;">
                    {table_html}
                </div>
            </div>
        </div>
    </body>
    </html>
    """
    
    # Generar el HTML de la tabla
    table_html = tabla.to_html(
        index=False,
        classes='table-responsive table-striped table-bordered',
        border=0,
        escape=False,
        na_rep='-'
    )
    
    # Reemplazar el marcador de posición en el template
    html_completo = estilo_html.replace('{table_html}', table_html)
    
    # Guardar la tabla con el estilo HTML
    ruta_archivo = os.path.join(carpeta, f'{nombre_archivo}.html')
    with open(ruta_archivo, 'w', encoding='utf-8') as archivo_html:
        archivo_html.write(html_completo)