# **Profesiones**

In [1]:
# Manejo de datos
import os # Directorios
import pandas as pd # Manipulación df
# Gráficas
import plotly.graph_objects as go #Para obtener librería usar: pip install plotly
from plotly.subplots import make_subplots
import plotly.io as pio # Exportar gráfica

# Obtener el directorio actual de trabajo
directorio_actual = os.getcwd()

# Directorio donde se encuentran los archivos JSON (ruta relativa)
directorio_json = os.path.join(directorio_actual, '../../db/datos_json')

# Obtener la lista de archivos JSON en el directorio
archivos_json = os.listdir(directorio_json)

# Cargar los archivos JSON y crear DataFrames
for archivo in archivos_json:
    nombre_tabla = archivo.replace('datos_', '').replace('.json', '')
    ruta_json = os.path.join(directorio_json, archivo)
    globals()[f"df_{nombre_tabla}"] = pd.read_json(ruta_json)

# Obtener todos los nombres de las variables globales
nombres_variables_globales = list(globals().keys())

# Filtrar los nombres que comienzan con "df_", contienen "alfa_q" y "pachuca"
nombres_df_filtrados = [
    nombre for nombre in nombres_variables_globales 
    if nombre.startswith("df_") and "salarios" in nombre and "jalisco" in nombre
]

# Imprimir la lista de DataFrames filtrados
print("Lista de DataFrames filtrados:")
nombres_df_filtrados

Lista de DataFrames filtrados:

['df_salarios_jalisco']

In [9]:
df_salarios_jalisco.columns

Index(['Occupation', 'Workforce', 'Monthly Wage', 'lastPeriod', 'diferencia',
       'diferencia_2', 'Salario_Variables', 'volumen', 'pareja',
       'categoria_persona', 'categoria_pareja'],
      dtype='object')

In [2]:
# Iterar sobre cada DataFrame en la lista filtrada
for nombre_df in nombres_df_filtrados:
    # Obtener el DataFrame usando globals()
    df = globals()[nombre_df]
    df.rename(columns={'Salario_Variables':'Salario_Variable'}, inplace=True)
        # Asignar el DataFrame modificado de nuevo a la variable global
    globals()[nombre_df] = df 
print("Columnas renombradas en los DataFrames filtrados.")

Columnas renombradas en los DataFrames filtrados.

In [3]:
# Crear una lista de DataFrames seleccionados con las columnas específicas
dataframes_list = []
for nombre_df in nombres_df_filtrados:
    # Seleccionar las columnas 'id' y 'categoria'
    segment_df = globals()[nombre_df][['Occupation','Salario_Variable']]
    # Añadir el DataFrame a la lista
    dataframes_list.append(segment_df)

In [4]:
salarios = df['Salario_Variable'].unique()
salarios.sort()
salarios

array([    0.  ,  1712.32,  2332.27,  2344.37,  2580.  ,  2998.45,
        3232.36,  3250.98,  3258.87,  3269.5 ,  3435.67,  3459.37,
        3479.31,  3613.85,  3628.12,  3654.5 ,  3739.5 ,  3773.2 ,
        3791.04,  3955.15,  3980.8 ,  3983.76,  3985.71,  4181.09,
        4300.  ,  4366.68,  4416.3 ,  4467.48,  4469.05,  4497.12,
        4522.67,  4538.5 ,  4543.14,  4561.93,  4614.09,  4690.62,
        4698.95,  4716.16,  4746.83,  4826.84,  4840.78,  5157.41,
        5159.8 ,  5160.  ,  5187.54,  5191.71,  5214.79,  5278.2 ,
        5279.7 ,  5288.94,  5303.86,  5309.82,  5338.08,  5344.96,
        5366.11,  5382.98,  5393.85,  5425.95,  5466.27,  5489.83,
        5490.04,  5502.  ,  5527.23,  5547.37,  5547.96,  5585.72,
        5592.74,  5614.78,  5634.86,  5722.33,  5751.92,  5788.01,
        5844.89,  5918.31,  5928.27,  6025.59,  6056.51,  6058.78,
        6114.51,  6188.41,  6196.83,  6202.93,  6260.22,  6292.22,
        6321.04,  6429.4 ,  6450.  ,  6524.93,  6538.07,  6570.79,
        6588.32,  6661.68,  6669.15,  6687.03,  6688.52,  6695.75,
        6704.84,  6716.34,  6737.5 ,  6738.21,  6775.18,  6799.03,
        6801.1 ,  6817.28,  6835.52,  6880.  ,  6946.83,  6961.39,
        6980.5 ,  6986.41,  6988.86,  7021.52,  7033.78,  7046.56,
        7048.69,  7095.49,  7149.36,  7196.4 ,  7199.26,  7259.18,
        7281.65,  7310.  ,  7339.01,  7346.35,  7350.96,  7401.12,
        7426.48,  7432.56,  7441.87,  7458.04,  7488.66,  7502.03,
        7525.  ,  7530.24,  7574.82,  7581.74,  7592.84,  7627.77,
        7644.92,  7676.58,  7679.01,  7679.61,  7705.87,  7708.51,
        7740.  ,  7781.5 ,  7811.79,  7815.29,  7833.31,  7850.05,
        7887.35,  7940.1 ,  8019.65,  8026.23,  8055.01,  8104.46,
        8110.88,  8121.33,  8144.8 ,  8147.72,  8167.22,  8228.95,
        8270.65,  8287.76,  8308.81,  8321.06,  8363.01,  8371.99,
        8373.8 ,  8422.08,  8457.86,  8470.03,  8503.18,  8577.53,
        8596.74,  8600.  ,  8605.53,  8610.79,  8681.85,  8696.95,
        8768.97,  8781.24,  8823.22,  8829.21,  8832.04,  8845.4 ,
        8861.45,  8867.7 ,  8913.21,  8929.48,  8934.07,  8934.2 ,
        9053.82,  9099.29,  9113.48,  9116.58,  9126.35,  9194.56,
        9254.31,  9275.54,  9281.21,  9330.95,  9364.48,  9383.2 ,
        9487.85,  9593.42,  9597.03,  9647.6 ,  9659.09,  9667.57,
        9713.21,  9746.58,  9804.3 ,  9832.65,  9890.  ,  9986.36,
       10000.  , 10026.4 , 10132.32, 10350.63, 10546.79, 10750.  ,
       10758.76, 10805.55, 10837.41, 10976.49, 10981.3 , 10998.59,
       11026.53, 11033.5 , 11118.76, 11278.73, 11292.75, 11410.16,
       11439.9 , 11543.  , 11567.9 , 11610.  , 11617.6 , 11626.68,
       11642.9 , 11694.56, 11750.18, 11899.33, 11957.29, 12000.  ,
       12049.51, 12135.51, 12246.38, 12657.89, 12678.79, 12900.  ,
       12998.28, 13010.11, 13068.66, 13243.46, 13250.26, 13257.84,
       13308.51, 13321.93, 13354.19, 13512.1 , 13839.08, 14000.  ,
       14134.51, 14400.  , 14512.5 , 15000.  , 15014.89, 15045.99,
       15050.  , 15051.74, 15320.79, 15399.15, 15423.49, 16000.  ,
       16190.48, 16229.17, 16432.17, 17182.  , 17200.  , 17213.89,
       17591.49, 18000.  , 18162.04, 18248.15, 19037.47, 20000.  ,
       20216.1 , 20963.09, 21263.59, 21500.  , 21519.41, 22000.  ,
       22040.84, 22577.15, 24000.  , 24958.55, 25000.  , 30000.  ,
       32000.  , 41367.99])

In [5]:
df_neutro = df[df['Salario_Variable']==0]
df_neutro['Occupation'].unique()

array(['Presidentes y Directores Generales en Instituciones Públicas',
       'Directores de Organizaciones Civiles y Religiosas',
       'Directores y Gerentes en Centros de Investigación y Desarrollo Tecnológico',
       'Coordinadores y Jefes de Área en Informática',
       'Antropólogos, Arqueólogos e Historiadores',
       'Escritores y Críticos Literarios', 'Compositores y Arreglistas',
       'Pedagogos, Orientadores Educativos y otros Especialistas en Ciencias Educativas',
       'Profesores de Personas con Problemas de Audición y Lenguaje',
       'Monjas y Predicadores',
       'Locutores de Radio, Televisión y otros Medios de Comunicación',
       'Técnicos en Operaciones de Equipos de Radio',
       'Controladores de Tráfico Aéreo',
       'Operadores de Máquinas de Oficina (Fotocopiadora, Etcétera)',
       'Despachadores de Transporte',
       'Checadores y Revisores de Transporte',
       'Astrólogos, Adivinadores y Afines',
       'Trabajadores en la Cría y Cuidado de otro Tipo de Animales',
       'Supervisores de Conductores de Transporte y de Maquinaria Móvil',
       'Ayudantes de Conductores de Transporte en Vías Férreas',
       'Cuidadores y Acomodadores de Autos en Estacionamientos'],
      dtype=object)

In [6]:
df_limpio = df[df['Salario_Variable']!=0]
profesiones_df_salarios_puebla_sorted = df_limpio.sort_values(by='Salario_Variable')
profesiones_df_salarios_puebla_sorted[['Occupation','Salario_Variable']]

                                            Occupation  Salario_Variable
159                       Telefonistas y Telegrafistas           1712.32
104  Auxiliares y Técnicos Topógrafos, en Hidrologí...           2332.27
171                            Vendedores por Catálogo           2344.37
210                 Trabajadores en la Cría de Equinos           2580.00
130  Auxiliares y Técnicos en Pedagogía y en Educación           2998.45
..                                                 ...               ...
65   Ingenieros en Topografía, Hidrología, Geología...          24958.55
10                  Comandantes de las Fuerzas Armadas          25000.00
276  Operadores de Máquinas en la Elaboración de Ta...          30000.00
83                                         Nutriólogos          32000.00
70               Supervisores e Inspectores Educativos          41367.99

[311 rows x 2 columns]

In [7]:
# Ordenar el DataFrame por el valor del salario en orden ascendente
profesiones_df_salarios_puebla_sorted = df_limpio.sort_values(by='Salario_Variable')

# Obtener las 10 profesiones con el salario más bajo
profesiones_bajas = profesiones_df_salarios_puebla_sorted.head(10)

# Obtener las 10 profesiones con el salario más alto
profesiones_altas = profesiones_df_salarios_puebla_sorted.tail(10)

df_bajas = pd.DataFrame({'Profesiones Más Bajas': profesiones_bajas['Occupation']})
df_altas = pd.DataFrame({'Profesiones Más Altas': profesiones_altas['Occupation']})

# Unir los dos DataFrames en una sola tabla
tabla_comparativa = pd.concat([df_bajas.reset_index(drop=True), df_altas.reset_index(drop=True)], axis=1)
print(tabla_comparativa)

# Exportar tabla como archivo HTML
def guardar_tabla_como_html(tabla, nombre_archivo, carpeta='assets/tablas'):
    if not os.path.exists(carpeta):
        os.makedirs(carpeta)  # Crear la carpeta si no existe
    
    # Tabla como archivo HTML en la carpeta especificada
    tabla.to_html(f'{carpeta}/{nombre_archivo}.html', index=False)

# Exportar la tabla
guardar_tabla_como_html(tabla_comparativa, 'tabla_profesiones')

                               Profesiones Más Bajas  \
0                       Telefonistas y Telegrafistas
1  Auxiliares y Técnicos Topógrafos, en Hidrologí...
2                            Vendedores por Catálogo
3                 Trabajadores en la Cría de Equinos
4  Auxiliares y Técnicos en Pedagogía y en Educación
5  Auxiliares y Técnicos de Equipos de Grabación ...
6  Mecánicos en Mantenimiento y Reparación de Ins...
7                                           Pintores
8  Trabajadores en la Elaboración de Productos a ...
9                       Árbitros y Jueces Deportivos

                               Profesiones Más Altas
0  Presidentes y Directores Generales en Instituc...
1  Directores y Gerentes en Desarrollo Social y E...
2  Controladores de Tráfico de otros Transportes ...
3  Ingenieros en Comunicaciones y Telecomunicaciones
4  Especialistas en Seguridad e Higiene y Salud P...
5  Ingenieros en Topografía, Hidrología, Geología...
6                 Comandantes de las Fuerzas Armadas
7  Operadores de Máquinas en la Elaboración de Ta...
8                                        Nutriólogos
9              Supervisores e Inspectores Educativos

In [8]:
# Ordenar el DataFrame por el valor del salario en orden ascendente
profesiones_df_salarios_puebla_sorted = df_limpio.sort_values(by='Salario_Variable')

# Obtener las 10 profesiones con el salario más bajo
profesiones_bajas = profesiones_df_salarios_puebla_sorted.head(10)

# Obtener las 10 profesiones con el salario más alto
profesiones_altas = profesiones_df_salarios_puebla_sorted.tail(10)

df_bajas = pd.DataFrame({'Profesiones Más Bajas': profesiones_bajas['Occupation']})
df_altas = pd.DataFrame({'Profesiones Más Altas': profesiones_altas['Occupation']})

# Unir los dos DataFrames en una sola tabla
tabla_comparativa = pd.concat([df_bajas.reset_index(drop=True), df_altas.reset_index(drop=True)], axis=1)
print(tabla_comparativa)

# Exportar tabla como archivo HTML
def guardar_tabla_como_html(tabla, nombre_archivo, carpeta='assets/tablas'):
    if not os.path.exists(carpeta):
        os.makedirs(carpeta)  # Crear la carpeta si no existe
    
    # Tabla como archivo HTML en la carpeta especificada
    tabla.to_html(f'{carpeta}/{nombre_archivo}.html', index=False)

# Exportar la tabla
guardar_tabla_como_html(tabla_comparativa, 'tabla_profesiones')

                               Profesiones Más Bajas  \
0                       Telefonistas y Telegrafistas
1  Auxiliares y Técnicos Topógrafos, en Hidrologí...
2                            Vendedores por Catálogo
3                 Trabajadores en la Cría de Equinos
4  Auxiliares y Técnicos en Pedagogía y en Educación
5  Auxiliares y Técnicos de Equipos de Grabación ...
6  Mecánicos en Mantenimiento y Reparación de Ins...
7                                           Pintores
8  Trabajadores en la Elaboración de Productos a ...
9                       Árbitros y Jueces Deportivos

                               Profesiones Más Altas
0  Presidentes y Directores Generales en Instituc...
1  Directores y Gerentes en Desarrollo Social y E...
2  Controladores de Tráfico de otros Transportes ...
3  Ingenieros en Comunicaciones y Telecomunicaciones
4  Especialistas en Seguridad e Higiene y Salud P...
5  Ingenieros en Topografía, Hidrología, Geología...
6                 Comandantes de las Fuerzas Armadas
7  Operadores de Máquinas en la Elaboración de Ta...
8                                        Nutriólogos
9              Supervisores e Inspectores Educativos

## Sacar los estilos deseados

In [9]:
import os
import pandas as pd

# Exportar tabla con estilos personalizados
def guardar_tabla_como_html(tabla, nombre_archivo, carpeta='assets/tablas'):
    if not os.path.exists(carpeta):
        os.makedirs(carpeta)  # Crear la carpeta si no existe

    # Crear un estilo personalizado de tabla
    estilo_html = f"""
    <html>
    <head>
        <style>
            /* Estilo general para las tablas */
            table {{
                width: 100%; /* Ancho completo */
                border-collapse: collapse; /* Colapsar bordes */
                margin: 0; /* Margen superior e inferior */
                padding: 0; /*Eliminar padding
            }}
                /* Estilo para el contenedor de la tabla */

            .card-body {{

                padding: 0; /* Eliminar padding del contenedor */
                margin: 0; /* Eliminar margen del contenedor */

            }}

            /* Estilo para las celdas de encabezado */
            th {{
                background-color: #f2f2f2; /* Color de fondo claro */
                color: #333; /* Color de texto */
                padding: 10px; /* Espaciado interno */
                text-align: left; /* Alinear texto a la izquierda */
                border: 1px solid #ddd; /* Borde de las celdas */
            }}

            /* Estilo para las celdas del cuerpo */
            td {{
                padding: 10px; /* Espaciado interno */
                border: 1px solid #ddd; /* Borde de las celdas */
            }}

            /* Estilo para las filas alternas */
            tr:nth-child(even) {{
                background-color: #f9f9f9; /* Color de fondo alternativo */
            }}

            /* Estilo para las filas al pasar el mouse */
            tr:hover {{
                background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
            }}

            /* Estilo para el texto en las celdas */
            td, th {{
                text-align: center; /* Centrar texto en celdas */
            }}
        </style>
    </head>
    <body>
        <div class="card">
            <div class="card-body">
                <div style="overflow-x:auto;">
                    {tabla.to_html(index=False, classes='table-responsive table-striped table-bordered', border=0)}
                </div>
            </div>
        </div>
    </body>
    </html>
    """
    
    # Guardar la tabla con el estilo HTML
    with open(f'{carpeta}/{nombre_archivo}.html', 'w', encoding='utf-8') as archivo_html:
        archivo_html.write(estilo_html)

# Ordenar el DataFrame por el valor del salario en orden ascendente
profesiones_df_salarios_puebla_sorted = df_limpio.sort_values(by='Salario_Variable')
# Obtener las 10 profesiones con el salario más bajo
profesiones_bajas = profesiones_df_salarios_puebla_sorted.head(10)
# Obtener las 10 profesiones con el salario más alto
profesiones_altas = profesiones_df_salarios_puebla_sorted.tail(10)

df_bajas = pd.DataFrame({'Más Bajas': profesiones_bajas['Occupation']})
df_altas = pd.DataFrame({'Más Altas': profesiones_altas['Occupation']})

# Tabla comparativa
tabla_comparativa = pd.concat([df_bajas.reset_index(drop=True), df_altas.reset_index(drop=True)], axis=1)

# Exportar la tabla como HTML con estilo personalizado
guardar_tabla_como_html(tabla_comparativa, 'tabla_profesiones_off')